footer {
  background-color: var(--extra-light);
  padding: 4rem 0;
}

.footer__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem 2rem;
  padding: 2rem 1rem;
}

.footer__col {
  display: flex;
  flex-direction: column;
}

.footer__col p {
  max-width: 300px;
  margin-block: 2rem;
  color: var(--text-light);
  line-height: 1.6;
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__socials li {
  list-style: none;
}

.footer__socials a {
  display: inline-block;
  padding: 7px 10px;
  font-size: 1.25rem;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 100%;
}

.footer__socials a:hover {
  background-color: var(--primary-color-dark);
}

.footer__col h4 {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.footer__links {
  display: grid;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__links li {
  list-style: none;
}

.footer__links a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--text-light);
}

.footer__links a:hover {
  color: var(--primary-color);
}

.footer__links a span {
  font-size: 1.25rem;
}

.footer__col form {
  display: grid;
  gap: 1rem;
}

.footer__col input {
  padding: 0.75rem;
  font-size: 1rem;
  color: var(--text-dark);
  background-color: var(--white);
  border: 1px solid var(--text-light);
  border-radius: 5px;
}

.footer__col input::placeholder {
  color: var(--text-light);
}

.footer__col .btn {
  border-radius: 5px;
}

.footer__logo {
  margin-bottom: 1rem;
}

.footer__logo .logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-dark);
}

.footer__bar {
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--text-light);
  text-align: center;
}

@media (width > 540px) {
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__col:first-child {
    grid-column: 1 / -1;
  }
}

@media (width > 768px) {
  .footer__container {
    grid-template-columns: 2fr 1fr 1fr 1.5fr;
  }

  .footer__col:first-child {
    grid-column: unset;
  }
}
